body{
	margin: 0;
}
#navBar h2{
	position:absolute;
	color:#ffffff;
	font-size:65px;
	margin-top: 0px;
	margin-left: 64px;
	font-family: chiller;
}
#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c02729;
}

#navBar li {
    float: right;
}

#navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

#navBar li a:hover {
    background-color: #d84143;
}
.homeTop{
	width: 1183.82px; 
	margin-top: 17px; 
    margin-left: 66px;

}
.homeTop #text{
	font-size:25px;
	border:3px solid #c02729;
}
.homeTop #text button{
	background:#c02729;
	color:white;
	border:none;
	cursor:pointer;
	font-family:Consolas;
	padding-left:15px;
	padding-right:15px;
	padding-top:7px;
	padding-bottom:7px;
}
