#navBar h2{
	position:absolute;
	color:#ffffff;
	font-size:65px;
	margin-top: 0px;
	margin-left: 64px;
	font-family: chiller;
}
#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c02729;
}

#navBar li {
    float: right;
}

#navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

#navBar li a:hover {
    background-color: #d84143;
}
body {
	margin:0;
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
/*Title*/
.title h2{
	text-align:center;
	margin-top: 13px;
	margin-bottom: 10.2px;
	color: #c02729;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	font-family:Castellar;
	font-size:40px;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 400px;
  width: 100%;
  border: 3px solid #c02729;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align:middle;
  border-bottom-width: 0px;

}

.form-module .form {
  display: none;
  padding: 20px;
  margin-top: 10px;
}

.form-module input {
  outline: none;
  display: block;
  width: 80%;
  border: 1px solid #c02729;
  margin: 0px 40px 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
 
}
.form-module #select {
  outline: none;
  display: block;
  width: 80%;
  border: 1px solid #c02729;
  margin: 0px 40px 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
}
.form-module #select:focus {
  border: 1px solid #33b5e5;
 
}
.form-module button {
  cursor: pointer;
  background: #c02729;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding-bottom: 13px;
  padding-top: 15px;

}
.form-module button:hover {
  background: #d84143;
}
.label {
    position: relative;
    left: 38px;
    top: 0px;
	font-family:Perpetua;
	font-size:20px;
}
a {
	text-decoration:none;
    position: relative;
    left: 38px;
    top: 0px;
	font-family:Perpetua;
	font-size:20px;
    left: 3px;
	color:black;

}
.label textarea{
position:relative;
}
.label radio{
	position:absolute;
	margin-top: 26px; 
	margin-left: 0px;
	
}
.label radio male{
	margin-top: 23px;
	margin-left: 0px;
}
.form-module h2{
	position:absolute;
	font-family:Perpetua;
	font-size:20px;
	padding-left: 40px;
}
.form-module h3{
	position:absolute;
	font-family:Perpetua;
	font-size:20px;
	margin-left: 38px;
}
.form-module #author {
	width: 335px; 
	margin-left: 57px;
	font-family:Perpetua;
	font-size:19px;
}